table {
    border-collapse: collapse;
    cursor: default;
    width: 100%;
}

tr {
    padding: 0px 0px 0px 4px;
    cursor: default;
    border: 1px solid #1f1f1f;
}


.webcontrol {
    background-color: #1f1f1f;
    color: #fafafa;
    font-size: 9pt;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI";
}


.selected {
    background-color: #3d3d3d;
}

.webcontrol tr.selected {
    border: 1px solid #3d3d3d;
}

.webcontrol.hasfocus tr.selected {
    border: 1px solid #5d5d5d;
}


.ColumnList, .List {
    overflow-y: auto;
    cursor: default;
    /*height: 100px;*/
}

    .ColumnList thead {
        position: sticky;
        cursor: default;
        top: 0px;
        background-color: #1f1f1f;
    }

        .ColumnList thead th {
            position: sticky;
            cursor: default;
            top: 0px;
            text-align: left;
            padding-left: 4px;
            padding-right: 4px;
            padding-bottom: 2px;
            background-color: #1f1f1f;
        }

    .ColumnList th {
        box-shadow: inset -1px -1px #5d5d5d;
    }

    .ColumnList tbody td {
        text-align: left;
        padding-left: 4px;
    }

